---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid page-content-container">
    <div class="row">
       <div class="d-block .d-sm-none .d-md-none col-lg-3"></div>
       <div class="col-sm-10 col-md-10 col-lg-6 mx-auto page-content">
                 {{ content }}
      </div>
      <div class="d-block .d-sm-none .d-md-none col-lg-3"></div>
    </div>
  </div>
